
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myKafilLabel" data-translate="assalamApp.kafil.home.createOrEditLabel">Create or edit a Kafil</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        
        <div class="form-group">
            <label class="control-label" data-translate="assalamApp.kafil.nom" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                    ng-model="vm.kafil.nom" required
                    />
        </div>

        
        <div class="form-group">
            <label class="control-label" data-translate="assalamApp.kafil.prenom" for="field_prenom">Prenom</label>
            <input type="text" class="form-control" name="prenom" id="field_prenom"
                    ng-model="vm.kafil.prenom" required
                    />
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="assalamApp.kafil.dateDebut" for="field_datedebut">Datedebut</label>
                <div class="input-group">
                    <input id="field_datedebut" type="text" class="form-control" name="datedebut" uib-datepicker-popup="{{dateformat}}" ng-model="vm.kafilStartDate"
                     is-open="vm.datePickerOpenStatus.datedebut"  required
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('datedebut')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assalamApp.kafil.dateFin" for="field_datefin">Datefin</label>
                <div class="input-group">
                    <input id="field_datefin" type="text" class="form-control" name="datefin" uib-datepicker-popup="{{dateformat}}" ng-model="vm.kafilEndDate" 
                    is-open="vm.datePickerOpenStatus.datefin"  
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('datefin')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assalamApp.kafil.adresse" for="field_adresse">Adresse</label>
            <input type="text" class="form-control" name="adresse" id="field_adresse"
                    ng-model="vm.kafil.adresse"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assalamApp.kafil.tel" for="field_tel">Tel</label>
            <input type="text" class="form-control" name="tel" id="field_tel"
                    ng-model="vm.kafil.tel"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assalamApp.kafil.state.name" for="field_statut">Statut KAfil</label>
            <select class="form-control" name="statut" ng-model="vm.kafil.state" id="field_statut">
                  <option value="ACTIVE" data-translate="assalamApp.kafil.state.ACTIVE">EN cours</option>
				  <option value="URGENT" data-translate="assalamApp.kafil.state.URGENT">urgent </option>
					<option value="LEFT" data-translate="assalamApp.kafil.state.LEFT">arrete</option>
				
               
                
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assalamApp.kafil.commentaires" for="field_commentaires">Commentaires</label>
            <input type="text" class="form-control" name="commentaires" id="field_commentaires"
                    ng-model="vm.kafil.commentaires"
                    />
        </div>
       
            <input type="hidden" class="form-control" name="photo" id="field_photo"
                    ng-model="vm.kafil.photo"
                    />
            <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                    ng-model="vm.kafil.photoContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
