<div>
    <h2><span data-translate="assalamApp.demandeadhesion.home.title"></span> (
        <span data-translate="{{'assalamApp.Statut.' + vm.statut}}">)</span>)</h2>
    <jhi-alert></jhi-alert>
   

    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="assalamApp.demandeadhesion.datedemande">Datedemande</span></th>
                    <th><span data-translate="assalamApp.demandeadhesion.statut">Statut</span></th>
                    <th><span data-translate="assalamApp.demandeadhesion.famille">Famille</span></th>
                    <th><span data-translate="assalamApp.demandeadhesion.enfants">Enfants</span></th>
                    <th><span data-translate="assalamApp.demandeadhesion.demande">Demande</span></th>
                    <th><span data-translate="assalamApp.demandeadhesion.remarques">Remarques</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="demandeadhesion in vm.demandeadhesions| filter: { statut : vm.demandesFilter} track by demandeadhesion.id" ng-class="demandeadhesion.statut">

                    <td><a ui-sref="demandeadhesion-detail({id:demandeadhesion.id})">{{demandeadhesion.id}}</a></td>
                    <td>{{demandeadhesion.datedemande| date:'mediumDate'}}</td>
                    <td data-translate="{{'assalamApp.Statut.' + demandeadhesion.statut}}">{{demandeadhesion.statut}}</td>
                      <td ><a ui-sref="famille-detail({id:demandeadhesion.famille.id})">{{demandeadhesion.famille.pere}} <br> {{demandeadhesion.famille.mere}}</a></td>
                      <td ><a ui-sref="enfant({familleId:demandeadhesion.famille.id})"><span class="glyphicon glyphicon-user"></span></a></td>
                    <td >
                        <a data-translate="assalamApp.demandeadhesion.demande" ng-if="demandeadhesion.demande" ng-click="vm.openFile(demandeadhesion.demandeContentType, demandeadhesion.demande)" ng-href="{{'data:' + demandeadhesion.demandeContentType + ';base64,' + demandeadhesion.demande}}" target="_blank">
                            
                        </a>
                    </td>
                    <td class="remarques">
                        {{demandeadhesion.remarques}}
                    </td>
                    <td class="text-right">
                      <div class="btn-group flex-btn-group-container">
                          <!--    <button ng-if="vm.statut === 'ATTENTE'" type="submit"
                                    ui-sref="kafala.new({enfantId: demandeadhesion.enfant.id })"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.createKafala"></span>
                            </button>-->
                               <button type="submit"
                                    ui-sref="demandeadhesion-detail({id:demandeadhesion.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            
                            <button type="submit"
                                    ui-sref="demandeadhesion.edit({id:demandeadhesion.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="demandeadhesion.delete({id:demandeadhesion.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
