<nav class="navbar no-padding" role="navigation">
    <div class="container-fluid no-padding">
        <div class = "banner2">
            <i ui-sref="home" class="fa fa-home fa-5x" ></i> 
             
              </div>
              

        
  
       <!-- <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/logo-jhipster.png" alt="logo"/>
                <span data-translate="global.title">AssalamApp </span>  <span class="navbar-version">v{{VERSION}}</span>
            </a>
        </div>-->
        <div class="navbar-collapse no-padding" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav no-padding">
              
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->

                  <li ng-show="vm.$state.includes('kafala-project')" ui-sref-active="active">
                    <a ui-sref="statistics" ng-click="vm.collapseNavbar()" >
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <span class="hidden-sm" data-translate="global.menu.statistics">Statustics</span>
                    </a>
                </li>
               
                 <li ng-show="vm.$state.includes('kafala-project')" ui-sref-active="active"  class="dropdown" uib-dropdown  >
                     
                    <a   ng-click="vm.collapseNavbar()" class="dropdown-toggle" uib-dropdown-toggle>
                         <i class="fa fa-file" aria-hidden="true"></i>&nbsp;
                        <span data-translate="global.menu.entities.demandeadhesion">Demandeadhesion</span>
                        <b class="caret"></b>
                    </a>
                    
                    
                 <ul class="dropdown-menu" >
                        <li  >
                            <a data-translate="global.menu.entities.demandeadhesions.ouverte" href="" ui-sref="demandeadhesion({statut:'OUVERTE', familleId:''})">Nouvelle demande</a>
                        </li>
                         <li  >
                            <a data-translate="global.menu.entities.demandeadhesions.encours" href="" ui-sref="demandeadhesion({statut:'EN_COURS', familleId:''})">Nouvel Enfant</a>
                        </li>
                         <li  >
                            <a data-translate="global.menu.entities.demandeadhesions.attente" href="" ui-sref="demandeadhesion({statut:'ATTENTE', familleId:''})">Nouvel Enfant</a>
                        </li>
                         <li  >
                            <a data-translate="global.menu.entities.demandeadhesions.archive" href="" ui-sref="demandeadhesion({statut:'ARCHIVE', familleId:''})">View</a>
                        </li>
                        
                    </ul>
                   
                    
                </li>
                 <li ng-show="vm.$state.includes('kafala-project')" ui-sref-active="active">
                    <a ui-sref="famille" ng-click="vm.collapseNavbar()">
                        <i class="fa fa-users" ></i>&nbsp;
                        <span data-translate="global.menu.entities.famille">famille</span>
                    </a>
                </li>


                   <li ng-show="vm.$state.includes('kafala-project')" ui-sref-active="active"  class="dropdown" uib-dropdown  >
                     
                    <a   ng-click="vm.collapseNavbar()" class="dropdown-toggle" uib-dropdown-toggle>
                         <i class="fa fa-child" aria-hidden="true"></i>&nbsp;
                        <span data-translate="global.menu.entities.enfant">Demandeadhesion</span>
                        <b class="caret"></b>
                    </a>
                    
                    
                 <ul class="dropdown-menu" >
                        <li  >
                            <a data-translate="assalamApp.enfant.statut.OUVERTE" href="" ui-sref="enfant({statut:'OUVERTE', familleId:''})">Nouvelle demande</a>
                        </li>
                         <li  >
                            <a data-translate="assalamApp.enfant.statut.ATTENTE" href="" ui-sref="enfant({statut:'ATTENTE', familleId:''})">Nouvel Enfant</a>
                        </li>
                         <li  >
                            <a data-translate="assalamApp.enfant.statut.REFUSEE" href="" ui-sref="enfant({statut:'REFUSEE', familleId:''})">Nouvel Enfant</a>
                        </li>
                         <li  >
                            <a data-translate="assalamApp.enfant.statut.ACHEVEE" href="" ui-sref="enfant({statut:'ACHEVEE', familleId:''})">View</a>
                        </li>
                        <li  >
                            <a data-translate="assalamApp.enfant.statut.ARRETEE" href="" ui-sref="enfant({statut:'ARETTE', familleId:''})">View</a>
                        </li>
                        
                    </ul>
                   
                    
                </li>
                </li>
              
                 <li  ng-show="vm.$state.includes('kafala-project')" ui-sref-active="active">
                    <a ui-sref="kafil" ng-click="vm.collapseNavbar()">
                         <i class="fa fa-user" aria-hidden="true"></i>&nbsp;
                        <span data-translate="global.menu.entities.kafil">Kafil</span>
                    </a>
                </li>
               <!--   <li ng-show="vm.$state.includes('kafala-project')" ui-sref-active="active">
                    <a ui-sref="paiement" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.paiement">Paiement</span>
                    </a>
                </li>-->
                    <!--   <li ng-show="vm.$state.includes('kafala-project')" ui-sref-active="active">
                        <a ui-sref="kafala({ })" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.kafala">Kafala</span>
                        </a>
                    </li>-->
               
               
               
                
                

                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" data-translate="global.menu.account.main">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span data-translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span data-translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span data-translate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span data-translate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span data-translate="global.menu.account.register">Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_SUPERVISEUR" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" data-translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" has-authority="ROLE_SUPERVISEUR">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span data-translate="global.menu.admin.userManagement">User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active"  has-authority="ROLE_ADMIN">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span data-translate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_ADMIN">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span data-translate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_ADMIN">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span data-translate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_ADMIN">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span data-translate="global.menu.admin.audits">Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_ADMIN">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span data-translate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active" has-authority="ROLE_ADMIN">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span data-translate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    </ul>
                </li>
               <!-- <li ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="JhiLanguageController as languageVm">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" data-translate="global.menu.language">Language</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                        <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                            <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language| findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>-->
                

                <!-- li ng-show="vm.$state.includes('kafala-project') " ui-sref-active="active">
                    <a ui-sref="famille" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.famille">Famille</span>
                    </a>
                </li -->

             
               
            </ul>
        </div>
    </div>
</nav>
