<div>
     <div class="printButton" print-remove>
    <button  ng-click="vm.print()" class="btn btn-primary " id= "print"   >
                    <div class="icon-big icon-warning text-center">
                                          <i class="fa fa-print" aria-hidden="true"></i>
                                        </div>                
                </button>
    </div>
    <h2 data-translate="assalamApp.kafala.home.title">Kafalas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div   class="col-xs-3">
             </div>
            <div ng-show = "vm.isStateEnCours" class ="col-xs-4">
         <h4 data-translate="assalamApp.kafala.startYear">Choix de l'année de debut</h4>
          <input ng-model="vm.search.startDate" >
          </input>
            </div>
             
            <div  ng-show = "vm.isStateAchevee" class="col-xs-4">
        <h4 data-translate="assalamApp.kafala.endYear">Choix de l'année de fin</h4>
          <input ng-model="vm.search.endDate" >
        </input>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped table-bordered">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                   
                    <th jh-sort-by="enfant.id"><span data-translate="assalamApp.kafala.enfant">Enfant</span></span></th>
                    <th jh-sort-by="kafil.id"><span data-translate="assalamApp.kafala.kafil">Kafil</span></span></th>
                    <th ><span data-translate="assalamApp.kafala.montant">Montant</span></span></th>
                    <th ><span data-translate="assalamApp.kafala.datedebut">Datedebut</span></span></th>
                    <th ><span data-translate="assalamApp.kafala.datefin">Datedebut</span></span></th>
              
                     <th jh-sort-by="kafil.id"><span data-translate="assalamApp.kafala.state.name">Kafala State</span></span></th>
                    <th jh-sort-by="kafil.id"><span data-translate="assalamApp.kafala.moispayes">Mois Retard</span></span></th>
                    <th print-remove><span data-translate="assalamApp.kafala.engagement">Engagemnt</span></span></th>
                    <th print-remove><span data-translate="assalamApp.kafala.paiments">Paiements</span></span></th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="kafala in vm.kafalas | orderBy:'moisretard':true| filter:vm.search" ng-class="{PAIEMENT_LATE: kafala.isLate === true}">
                  
                    
                     <td>
                        <a ui-sref="enfant-detail({id:kafala.enfant.id})">{{kafala.enfant.nom}} {{kafala.enfant.prenom}}</a>
                    </td>
                    
                    <td>
                        <a ui-sref="kafil-detail({id:kafala.kafil.id})">{{kafala.kafil.nom}} {{kafala.kafil.prenom}}</a>
                    </td>
                    <td>{{kafala.montant}}</td>
                    <td>{{kafala.startDate| date:'mediumDate'}}</td>
                    <td>{{kafala.endDate| date:'mediumDate'}}</td>
                   
                    <td data-translate="{{'assalamApp.kafala.state.' + kafala.state}}"></td>

                     <td ><span data-translate="{{'assalamApp.kafala.' + kafala.statut}}"></span>&nbsp{{kafala.moisretard}}&nbsp<span data-translate="assalamApp.kafala.mois"></span></td>
                    <td print-remove >
                        <a  ng-if="kafala.engagementRef" ng-click="vm.openFile( kafala)"   target="_blank">
                            <i class="fa fa-file" aria-hidden="true"></i>
                        </a>
                    <td print-remove>
                        <a ui-sref="paiement({kafalaId: kafala.id })"><i class="fa fa-money" aria-hidden="true"></i></a>
                    </td>
                    <td print-remove class="text-right">
                       
                         <div class="dropdown" uib-dropdown>
                    <button  class=" btn btn-info dropdown-toggle" uib-dropdown-toggle>
                    
                        <span>
                            <span class="glyphicon glyphicon-settings"></span>
                            <span class="hidden-sm" data-translate="global.menu.actions">Actions</span>
                            <b class="caret"></b>
                        </span>             
                </button>
                 <ul class="dropdown-menu" >
                        
                         <li  >
                            <a data-translate="assalamApp.kafala.addPayment" href="" ui-sref="kafala.newPayment({kafalaId:kafala.id})">Nouvel Enfant</a>
                        </li>
                         <li  >
                            <a data-translate="entity.action.view" href="" ui-sref="kafala.detail({id:kafala.id})">View</a>
                        </li>
                         <li  >
                            <a data-translate="entity.action.edit" href="" ui-sref="kafala.edit({id:kafala.id})">Edit</a>
                        </li>
                         <li  >
                            <a data-translate="entity.action.delete" href="" ui-sref="kafala.delete({id:kafala.id})">supprimer</a>
                        </li>
                    </ul>
                        <!--<div class="btn-group flex-btn-group-container">
						
                           
                            <button type="submit"
                                    ui-sref="famille.delete({id:famille.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>-->
                        </div>  
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
