(function() {
    'use strict';

    angular
        .module('aApp')
        .factory('FamilleSearch', FamilleSearch);

    Famille.$inject = ['$resource'];

    function FamilleSearch($resource) {
        var resourceUrl =  'api/_search/familles/:id';

        return $resource(resourceUrl, {}, {
            'query': { method: 'GET', isArray: true}
        });
    }
})();
