<div >
    <h2 data-translate="assalamApp.famille.home.title">Familles</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2 no-padding-right">
            </div>
            <div class="col-xs-6 no-padding-right">
                <label  > 
                    
                <input type="radio" ng-model="vm.searchType" value="Name">
               <span  data-translate="assalamApp.famille.search.name"></span>  
                 </label>
                 
               <label >   
                <input type="radio" ng-model="vm.searchType" value="Cin">
               <span  data-translate="assalamApp.famille.search.cin"></span>  
                 </label>
                 
                <form name="searchForm" class="form-inline">
                    
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'global.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.searchType">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="no-padding-left">
                <button class="btn btn-primary" ui-sref="famille.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="assalamApp.famille.home.createLabel">
                        Create new Demandeadhesion
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div id = "exportthis" class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr callback="vm.reset()">
                    <!-- <th ><span data-translate="global.field.id">ID</span></span></th> -->
                    
                    <th><span data-translate="assalamApp.famille.pere">Nom Pere</span></span>
                    </th>
                    <th><span data-translate="assalamApp.famille.mere">Nom Mere</span></span>
                    </th>
                    
                    <th><span data-translate="assalamApp.famille.tel">Tel</span></span>
                    </th>
                   
                    <th><span data-translate="assalamApp.famille.enfants">Enfants</span></span>
                    </th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="famille in vm.familles track by famille.id">
                    <!-- <td><a ui-sref="famille-detail({id:famille.id})">{{famille.id}}</a></td> -->
                    
                    <td>{{famille.pere}}</td>
                    <td>{{famille.mere}}</td>
                   
                    <td>{{famille.tel}}</td>
                   
                    <td>
                        <a ui-sref="enfant({familleFilterId: famille.id })" >
                            <i class="fa fa-child" aria-hidden="true"></i>
                        </a>
                    </td>

                   <td >
                       <div class="dropdown" uib-dropdown>
                    <button  class=" btn btn-info dropdown-toggle" uib-dropdown-toggle>
                    
                        <span>
                            <span class="glyphicon glyphicon-settings"></span>
                            <span class="hidden-sm" data-translate="global.menu.actions">Actions</span>
                            <b class="caret"></b>
                        </span>             
                </button>
                 <ul class="dropdown-menu" >
                        <li  >
                            <a data-translate="assalamApp.famille.nouvelleadhesion" href="" ui-sref="demandeadhesion.new({familleId:famille.id})">Nouvelle demande</a>
                        </li>
                         <li  >
                            <a data-translate="assalamApp.famille.nouvelenfant" href="" ui-sref="enfant.new({familleId:famille.id})">Nouvel Enfant</a>
                        </li>
                         <li  >
                            <a data-translate="entity.action.view" href="" ui-sref="famille-detail({id:famille.id})">View</a>
                        </li>
                         <li  >
                            <a data-translate="entity.action.edit" href="" ui-sref="famille.edit({id:famille.id})">Edit</a>
                        </li>
                         <li  >
                            <a data-translate="entity.action.delete" href="" ui-sref="famille.delete({id:famille.id})">supprimer</a>
                        </li>
                    </ul>
                        <!--<div class="btn-group flex-btn-group-container">
						
                           
                            <button type="submit"
                                    ui-sref="famille.delete({id:famille.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>-->
                        </div>  
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>